<div class="flag-wrap">
    <img src="{{this.flags.png}}" alt="{{this.flags.alt}}" width=60>
    <h1>{{this.name.official}}</h1>
</div>
<p>
    <b>Capital:</b> {{this.capital}}
</p>
<p>
    <b>Population:</b> {{this.population}}
</p>
<p>
    <b>Languages:</b> {{this.languages}}
</p>